<!DOCTYPE html>
<html data-ng-app="@ViewBag.InitModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine Admin Panel :: Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
</head>
    <body data-twttr-rendered="true">
        <nav class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Admin page</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav" data-ng-controller="NavbarController">
                            <li data-ng-class="{'active':highlight('/dashboard')}">
                                @*@Html.ActionLink("Dashboard", "Index", "Dashboard", routeValues: new { Area = "Admin" }, htmlAttributes: new { title = "Dashboard" })*@
                                <a href="#/dashboard"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                            </li>
                            <li data-ng-class="{'active':highlight('/categories')}"><a href="#/categories"><i class="fa fa-book fa-fw"></i> Category</a></li>
                            <li data-ng-class="{'active':highlight('/items')}"><a href="#/items"><i class="fa fa-fire"></i> Item</a></li>
                        </ul>
                    }
                    @Html.Partial("_LoginPartial")
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="container" style="min-height: 760px;">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - By <a href="http://twitter.com/thangchung" target="_blank">someone</a></p>
            </footer>
        </div>

        <!-- 3rd party libraries -->
        <script src="/Scripts/angular.js"></script>
        <script src="/Scripts/angular-route.js"></script>
        <script src="/Scripts/angular-animate.js"></script>
        <!-- jQuery only needed with Breeze so not loaded before AngularJS in this example-->
        <!-- If you want jQuery to replace jqlite in AngularJS then load jQuery before angular.js (not needed in this app though) -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        
        @*<script src="~/Scripts/q.min.js"></script>*@

        <!-- Custom scripts -->
        <script src="~/app/app.js"></script>
        <script src="~/app/services/config.js"></script>
        <script src="~/app/services/routeResolver.js"></script>
        <script src="~/app/services/logger.js"></script>
        <script src="~/app/controllers/navbarController.js"></script>
        <script src="~/app/controllers/dashboardController.js"></script>
        <script src="~/app/controllers/category/categoriesController.js"></script>
        <script src="~/app/controllers/item/itemsController.js"></script>
        @RenderSection("scripts", required: false)
        
    </body>
</html>

